/*.left-content {
  border-right: 3px solid #e1e8e3;
}

.right-content {
  border-left: 3px solid #e1e8e3;
}

.up-content {
  margin-top: 98px;
}
*/

body {
  background-color: #fff;
}

.login-content{
	z-index: 100;
	margin-top: 257px;
	margin-left: 271px;
}

.image-div {
   width:80vw;
   height:80vh;
}
.imagess {
   width:98%;
   height:auto;
   height:100%;
   position: absolute;
   z-index: -1;
}

.class-fit {
	max-width:100%;
	height:auto;
  	max-height:100%;
}

.image-header {
	width: 100%;
	height: auto;
	background-size: cover;
}

.image-left {
	width: 100%;
	height: auto;
	background-size: cover;
}

.image-right {
	width: 100%;
	height: auto;
	background-size: cover;
}

.image-footer {
	width: 100%;
	height: auto;
	margin-top: 92px;
	background-size: cover;
}